* {
  box-sizing: border-box;
}

html {
  font-family: poppins, sans-serif;
  // font-size: 16px;
}

body {
  margin: 0;
  background-color: $clr2;
  color: $clr6;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

button {
  border: none;
  cursor: pointer;
}

table,
th,
td {
  border: 1px solid black;
}

td {
  border-collapse: collapse;
}

td {
  padding: 10px;
}

h1,h2,h3,h4,h5,h6,p {
  margin: 0;
}